contourpy
cycler==0.12.1
fonttools==4.57.0
kiwisolver
matplotlib
numpy
packaging==24.2
pandas
pillow
protobuf==5.29.4
grpcio-tools==1.63.0
pyparsing
python-dateutil==2.9.0.post0
setuptools
six==1.17.0
